.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar-logo a {
    color: var(--secondary-color);
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
  }
  
  .navbar-links a {
    color: var(--secondary-color);
  }
  
  .navbar-links a:hover {
    color: var(--light-text-color);
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      gap: 10px;
    }
  }
  